.colorBl {
  color: #457bc7;
}

.colorLs {
  color: #00cc99;
}

.colorYe {
  color: #e5e46e;
}

.colorJs {
  color: #fabd05;
}

.colorFe {
  color: #d45048;
}

.colorQs {
  color: #08fcfe;
}

.color33 {
  color: #333333;
}

.color66 {
  color: #666666;
}

.color99 {
  color: #999999;
}

.colorFf {
  color: #ffffff;
}

.bgcBl {
  background-color: #457bc7;
  color: #ffffff;
}

.bgcLs {
  background-color: #00cc99;
  color: #ffffff;
}

.bgcYe {
  background-color: #e5e46e;
  color: #ffffff;
}

.bgcJs {
  background-color: #fabd05;
  color: #ffffff;
}

.bgcFe {
  background-color: #d45048 !important;
  color: #ffffff !important;
}

.bgcQs {
  background-color: #08fcfe;
  color: #ffffff;
}

.bgcHs {
  background-color: #000000;
  color: #ffffff;
}

.bgc33 {
  background-color: #333333;
  color: #ffffff;
}

.bgc99 {
  background-color: #aaaaaa;
}

.bgcDd {
  background-color: #dddddd;
}

.bgcF5 {
  background-color: #f5f5f5;
}

.bgcFf {
  background-color: #ffffff;
}

.bgcTrans {
  background-color: transparent !important;
}

.bgcNo {
  background: none !important;
}

/* 遮罩 */
.maskFf {
  background-color: rgba(255, 255, 255, 0.3);
}

.maskHs {
  background-color: rgba(0, 0, 0, 0.3);
}

/* 活动色 */
.active_oa {
  color: #457bc7 !important;
  border-bottom: 1px solid #457bc7;
}
